<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div style="text-align: center;"><b><h3 style="color: red;font-family:fantasy;">Congratulations</h3></b></div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div>
            <span style="color: green;" class="details"><b>Bank B has given an approval for your loan proposal</b></span>
          </div>
        </div>
      </form>
    </div>
        <div></div>
          <div>
            <span style="color: green;" class="details"> <b>Loan Amount Requested:$3000</b> </span>
          </div>
          <div><span style="color: green;" class="details"><b> Loan Amount Approved:$3000 </b></span></div>
 
  </div>
</body>
</html>

