<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title" style="text-align: center;">Select Your Loan Requirement</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
              <div class="button">
              <input type="submit" value="Small Business Loan" (click)="routetoapplicantdetails()">
              </div>
          </div>
          <div class="input-box">
            <div class="button">
            <input type="submit" value="Home Loan" (click)="routetoapplicantdetails()">
            </div>
        </div>
        <div class="input-box">
          <div class="button">
          <input type="submit" value="Auto Loan" (click)="routetoapplicantdetails()">
          </div>
      </div>
      <div class="input-box">
        <div class="button">
        <input type="submit" value="Personal Loan" (click)="routetoapplicantdetails()">
        </div>
    </div>
        </div>
        <div class="button">
          <input type="submit" value="Proceed" (click)="routetoapplicantdetails()">
        </div>
      </form>
    </div>
  </div>

</body>
</html>

